@page {
  size: A4; /* or size: 8.5in 11in; for US Letter */
  /* margin: 0.1in; */
  border: solid 1px #000;
}
.bts {
  display: flex;
  align-items: center;
  gap: 2rem;
  @media print {
    display: none;
  }
}
.ritz .waffle a {
  color: inherit;
}
.ritz .waffle .s3 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s5 {
  background-color: #ffffff;
  /* text-align: center; */
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s12 {
  border-bottom: 1px DASHED #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;

  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s2 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s6 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: normal;
  overflow: hidden;

  word-wrap: break-word;

  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s11 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s0 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;

  direction: ltr;

  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s4 {
  border-right: 1px SOLID #000000;

  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s7 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;

  padding: 2px 3px 2px 3px;
}
.ritz .waffle .lef {
  border-left: 1px solid black;
}
.ritz .waffle .s9 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;

  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;

  overflow: hidden;

  word-wrap: break-word;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s10 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: middle;

  white-space: nowrap;

  direction: ltr;
  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s8 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;

  direction: ltr;

  padding: 2px 3px 2px 3px;
}
.ritz .waffle .s1 {
  background-color: #ffffff;
  text-align: left;
  /* font-weight: bold; */
  color: #000000;
  font-family: Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 2px 3px 2px 3px;
}
